#clickable {
    padding: 0rem;
    text-align: left ;  
}

#clickable h1 {
    color: hsl(0, 0%, 100%); 
    font-family: 'Raleway',sans-serif;
    font-size: 40px;
    font-weight: 550;
    margin: 0 0rem 1.9rem 0;
    line-height: 17px;
    text-align: left;
}

#clickable h2 {
    color: hsl(0, 0%, 100%); 
    font-family: 'Raleway',sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    margin: 0rem 0 0 0; 
    text-align: left;
}

#clickable menu {
    padding: 0;
    display: flex; 
    flex-wrap: wrap;
    list-style: none;
}

#clickable menu button {
    padding: 0.7rem 0.5rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #d0b6eb;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 650;
    font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

#clickable menu button:hover {
    background-color: #1b082f;
    color: #ebe7ef;
}

#clickable menu button.active {
    background-color: #7925d3;
    color: #ebe7ef;
}